<div class="app">
    <div class="nav-tab-left">
        <!-- Tab items -->
        <div class="tabs">

            <div class="tab-item-logo alway-active btn-group dropup" style="min-width: 76px;">
                <div class="logo-image dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="images/{{user.avatar}}" class="avatar-main">

                </div>
                <ul class="dropdown-menu fs-14 bg-menu">
                    <li><a class="dropdown-item" href="#">
                            <div class="d-flex justify-content-between position-relative show-modal">
                                <span data-bs-toggle="modal" data-bs-target="#modal-detail-about"
                                    onclick="loadYear(); loadMonth(); loadDay()">Account</span>
                                <div class="center-icon"><i class="fal fa-id-card"></i></div>

                            </div>
                        </a></li>
                    <li><a class="dropdown-item" href="#">
                            <div class="d-flex justify-content-between position-relative ">
                                <div>Setting</div>
                                <div class="center-icon"><i class="fal fa-cog"></i></div>

                            </div>

                        </a></li>
                    <li><a class="dropdown-item" href="login-register/logout">
                            <div class="d-flex justify-content-between position-relative ">
                                <div>Logout</div>
                                <div class="center-icon"><i class="fal fa-sign-out-alt"></i></div>
                            </div>
                        </a></li>
                </ul>
            </div>

            <div class="tab-item active" title="Chats">
                <i class="fal fa-comment-alt-dots"></i>
            </div>
            <div class="tab-item" title="Groups">
                <i class="fal fa-users"></i>
            </div>
            <div class="tab-item" title="Contacts">
                <i class="fal fa-address-book"></i>
            </div>
            <div class="tab-item" title="Setting" style="margin-top: 255px">
                <i class="far fa-cog"></i>
            </div>
        </div>

    </div>

    <!-- Tab content -->
    <div class="nav-tab-content">
        <div class="tab-content bg-content">
            <div class="tab-pane mg-15 fs-14 active">
                <div class="container">
                    <div class="row-gutter">
                        <div class="col-lg-12">
                            <div class="search-box">
                                <div class="input-wrapper">
                                    <i class="fal fa-search fs-14"></i>
                                    <input type="text" placeholder="Search messages or users">
                                </div>
                                <div class="input-icon-plus">
                                    <i class="fal fa-user-plus px-3 fs-14 cursor-point"></i>

                                    <i class="fal fa-users-medical fs-14 cursor-point"></i>
                                </div>
                            </div>
                            <div class="border-bottom py-2"></div>
                        </div>
                        <div class="col-lg-12">
                            <div class="select-box d-flex justify-content-between align-middle py-3">
                                <div class="d-flex cursor-point dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <span class="pe-2 fw-bold">Tất cả tin nhắn</span>
                                    <i class="fal fa-angle-down fs-24" style="line-height: 26px;"></i>
                                </div>
                                <ul class="dropdown-menu fs-14 bg-menu">
                                    <li><a class="dropdown-item" href="javascript:void(0)">
                                            <div class="d-flex justify-content-between position-relative ">
                                                <div>Hiển thị tất cả tin nhắn</div>

                                            </div>
                                        </a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0)">
                                            <div class="d-flex justify-content-between position-relative ">
                                                <div>Chỉ tin nhắn chưa đọc</div>

                                            </div>

                                        </a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0)">
                                            <div class="d-flex justify-content-between position-relative ">
                                                <div>Chỉ tin nhắn từ người lạ</div>
                                            </div>
                                        </a></li>
                                </ul>
                                <a href="javascript:void(0)" class="text-white text-decoration-none marked-hover">Đánh
                                    dấu
                                    là đã
                                    đọc</a>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="item-user-wrapper py-2">

                                <div class="item cursor-point">
                                    <a class="avatar-online text-decoration-none position-relative me-3">
                                        <div class="avatar-xs mx-auto d-block chat-user-img online">
                                            <img src="https://s120-ava-talk.zadn.vn/2/1/c/7/13/120/10e6b4db2255ee6bbf106de6f1261b69.jpg"
                                                alt="user-img" class="img-fluid rounded-circle">
                                            <!-- Status online -->
                                            <span class="user-status bg-online"></span>
                                            <!-- Status offline -->
                                            <!-- <span class="user-status bg-offline"></span> -->

                                            <h5 class="font-size-13 text-truncate mt-2 mb-1 txt-name fw-bold">
                                                Bo</h5>
                                        </div>

                                    </a>
                                    <a class="avatar-online text-decoration-none position-relative me-3">
                                        <div class="avatar-xs mx-auto d-block chat-user-img online">
                                            <img src="https://s120-ava-talk.zadn.vn/1/9/0/9/13/120/b789823c88fea6e4d95ea6baae855efd.jpg"
                                                alt="user-img" class="img-fluid rounded-circle">
                                            <!-- Status online -->
                                            <span class="user-status bg-online"></span>
                                            <!-- Status offline -->
                                            <!-- <span class="user-status bg-offline"></span> -->

                                            <h5 class="font-size-13 text-truncate mt-2 mb-1 txt-name fw-bold">
                                                Liêm</h5>
                                        </div>

                                    </a>
                                    <a class="avatar-online text-decoration-none position-relative me-3">
                                        <div class="avatar-xs mx-auto d-block chat-user-img online">
                                            <img src="https://s120-ava-talk.zadn.vn/2/2/5/8/4/120/982764e7bfc996519a588925ae39f316.jpg"
                                                alt="user-img" class="img-fluid rounded-circle">
                                            <!-- Status online -->
                                            <!-- <span class="user-status bg-online"></span> -->
                                            <!-- Status offline -->
                                            <span class="user-status bg-offline "></span>

                                            <h5 class="font-size-13 text-truncate mt-2 mb-1 txt-name fw-bold">
                                                Thông</h5>
                                        </div>

                                    </a>
                                    <a class="avatar-online text-decoration-none position-relative me-3">
                                        <div class="avatar-xs mx-auto d-block chat-user-img online">
                                            <img src="https://s120-ava-talk.zadn.vn/5/f/f/3/13/120/e7d1cf513b384afdb3196b011eef7b4b.jpg"
                                                alt="user-img" class="img-fluid rounded-circle">
                                            <!-- Status online -->
                                            <span class="user-status bg-online"></span>
                                            <!-- Status offline -->
                                            <!-- <span class="user-status bg-offline"></span> -->

                                            <h5 class="font-size-13 text-truncate mt-2 mb-1 txt-name fw-bold">
                                                Vĩnh</h5>
                                        </div>

                                    </a>
                                    <a class="avatar-online text-decoration-none position-relative me-3">
                                        <div class="avatar-xs mx-auto d-block chat-user-img online">
                                            <img src="https://s120-ava-talk.zadn.vn/8/a/e/0/2/120/8dff23c21fdbd5bedf08d82f62b94e7f.jpg"
                                                alt="user-img" class="img-fluid rounded-circle">
                                            <!-- Status online -->
                                            <span class="user-status bg-online"></span>
                                            <!-- Status offline -->
                                            <!-- <span class="user-status bg-offline"></span> -->

                                            <h5 class="font-size-13 text-truncate mt-2 mb-1 txt-name fw-bold">
                                                Trường</h5>
                                        </div>

                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <h4 class="text-white">Recent</h4>
                        </div>
                        <div class="col-12">
                            <div class="chat-user-wrapper">
                                <!-- No unread message -->
                                <div class="wow friend-drawer friend-drawer--onhover">

                                    <img class="profile-image"
                                        src="https://s120-ava-talk.zadn.vn/2/1/c/7/13/120/10e6b4db2255ee6bbf106de6f1261b69.jpg"
                                        alt="">
                                    <div class="text flex-1 overflow-hidden">
                                        <h5 class="text-truncate fw-bold text-white fs-14 titlecom-1 me-3">Cát
                                            LuynhCát
                                            Luynh
                                            Cát LuynhCát LuynhCát</h5>
                                        <p class="txt-mess pt-2 mb-0 text-truncate fst-normal">Hey, you're arrested!
                                            😎
                                        </p>
                                    </div>

                                    <div class="text-muted small">05 min</div>
                                    <div class="unread-message">
                                        <i class="fal fa-ellipsis-h dropdown-toggle cursor-point"
                                            data-bs-toggle="dropdown" aria-expanded="false"></i>
                                        <ul class="dropdown-menu fs-14 bg-menu">
                                            <li><a class="dropdown-item" href="#">
                                                    <div class="d-flex justify-content-between position-relative ">
                                                        <div>Ghim hội thoại</div>


                                                    </div>
                                                </a></li>
                                            <li><a class="dropdown-item" href="#">
                                                    <div class="d-flex justify-content-between position-relative ">
                                                        <div>Phân loại</div>
                                                        <div class="center-icon"><i class="far fa-chevron-right"></i>
                                                        </div>

                                                    </div>

                                                </a></li>
                                            <li><a class="dropdown-item" href="#">
                                                    <div class="d-flex justify-content-between position-relative ">
                                                        <div>Đánh dấu chưa đọc</div>

                                                    </div>
                                                </a></li>
                                            <li><a class="dropdown-item" href="#">
                                                    <div class="d-flex justify-content-between position-relative ">
                                                        <div>Thêm vào nhóm</div>

                                                    </div>
                                                </a></li>
                                            <li><a class="dropdown-item" href="#">
                                                    <div class="d-flex justify-content-between position-relative ">
                                                        <div>Tắt thông báo</div>
                                                        <div class="center-icon"><i class="far fa-chevron-right"></i>
                                                        </div>
                                                    </div>
                                                </a></li>
                                            <li><a class="dropdown-item" href="#">
                                                    <div class="d-flex justify-content-between position-relative ">
                                                        <div>Ẩn trò chuyện</div>

                                                    </div>
                                                </a></li>
                                            <li><a class="dropdown-item" href="#">
                                                    <div class="d-flex justify-content-between position-relative ">
                                                        <div>Xoá hội thoại</div>

                                                    </div>
                                                </a></li>
                                            <li><a class="dropdown-item" href="#">
                                                    <div class="d-flex justify-content-between position-relative ">
                                                        <div>Báo xấu</div>

                                                    </div>
                                                </a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- No avatar -->
                                <div data-wow-duration="2s" data-wow-delay="5s"
                                    class="wow slideInLeft friend-drawer friend-drawer--onhover">
                                    <div class="avatar-xs">
                                        <span class="avatar-title rounded-circle bg-soft-primary text-primary">
                                            V
                                        </span>
                                    </div>
                                    <div class="text flex-1 overflow-hidden">
                                        <h5 class="text-truncate fw-bold text-white fs-14 titlecom-1 me-3">Trung
                                            Vinh
                                        </h5>
                                        <p class="txt-mess pt-2 mb-0 text-truncate fst-normal">Nice to meet you 😍
                                        </p>
                                    </div>
                                    <div class="text-muted small">05 min</div>
                                </div>
                                <div data-wow-duration="2s" data-wow-delay="5s"
                                    class="wow slideInLeft friend-drawer friend-drawer--onhover">
                                    <div class="avatar-xs">
                                        <span class="avatar-title rounded-circle bg-soft-primary text-primary">
                                            V
                                        </span>
                                    </div>
                                    <div class="text flex-1 overflow-hidden">
                                        <h5 class="text-truncate fw-bold text-white fs-14 titlecom-1 me-3">Trung
                                            Vinh
                                        </h5>
                                        <p class="txt-mess pt-2 mb-0 text-truncate fst-normal">Nice to meet you 😍
                                        </p>
                                    </div>
                                    <div class="text-muted small">05 min</div>
                                </div>
                                <div data-wow-duration="2s" data-wow-delay="5s"
                                    class="wow slideInLeft friend-drawer friend-drawer--onhover">
                                    <div class="avatar-xs">
                                        <span class="avatar-title rounded-circle bg-soft-primary text-primary">
                                            V
                                        </span>
                                    </div>
                                    <div class="text flex-1 overflow-hidden">
                                        <h5 class="text-truncate fw-bold text-white fs-14 titlecom-1 me-3">Trung
                                            Vinh
                                        </h5>
                                        <p class="txt-mess pt-2 mb-0 text-truncate fst-normal">Nice to meet you 😍
                                        </p>
                                    </div>
                                    <div class="text-muted small">05 min</div>
                                </div>
                                <div data-wow-duration="2s" data-wow-delay="5s"
                                    class="wow slideInLeft friend-drawer friend-drawer--onhover">
                                    <div class="avatar-xs">
                                        <span class="avatar-title rounded-circle bg-soft-primary text-primary">
                                            V
                                        </span>
                                    </div>
                                    <div class="text flex-1 overflow-hidden">
                                        <h5 class="text-truncate fw-bold text-white fs-14 titlecom-1 me-3">Trung
                                            Vinh
                                        </h5>
                                        <p class="txt-mess pt-2 mb-0 text-truncate fst-normal">Nice to meet you 😍
                                        </p>
                                    </div>
                                    <div class="text-muted small">05 min</div>
                                </div>
                                <div data-wow-duration="2s" data-wow-delay="5s"
                                    class="wow slideInLeft friend-drawer friend-drawer--onhover">
                                    <div class="avatar-xs">
                                        <span class="avatar-title rounded-circle bg-soft-primary text-primary">
                                            V
                                        </span>
                                    </div>
                                    <div class="text flex-1 overflow-hidden">
                                        <h5 class="text-truncate fw-bold text-white fs-14 titlecom-1 me-3">Trung
                                            Vinh
                                        </h5>
                                        <p class="txt-mess pt-2 mb-0 text-truncate fst-normal">Nice to meet you 😍
                                        </p>
                                    </div>
                                    <div class="text-muted small">05 min</div>
                                </div>
                                <!-- No unread message -->
                                <div class="friend-drawer friend-drawer--onhover">
                                    <img class="profile-image"
                                        src="https://s120-ava-talk.zadn.vn/1/9/0/9/13/120/b789823c88fea6e4d95ea6baae855efd.jpg"
                                        alt="">
                                    <div class="text flex-1 overflow-hidden">
                                        <h5 class="text-truncate fw-bold text-white fs-14 titlecom-1 me-3">Thanh
                                            Liêm
                                        </h5>
                                        <p class="txt-mess pt-2 mb-0 text-truncate fst-normal">Hey, you're arrested!
                                            😎
                                        </p>
                                    </div>
                                    <div class="text-muted small">05 min</div>
                                </div>
                                <!-- Sent image - have 2 unread -->
                                <div class="friend-drawer friend-drawer--onhover">
                                    <img class="profile-image"
                                        src="https://s120-ava-talk.zadn.vn/2/2/5/8/4/120/982764e7bfc996519a588925ae39f316.jpg"
                                        alt="">
                                    <div class="text flex-1 overflow-hidden">
                                        <h5 class="text-truncate fw-bold text-white fs-14 titlecom-1 me-3">Phan Văn
                                            Thông</h5>
                                        <p class=" pt-2 mb-0 text-truncate fst-normal txt-mess">
                                            <i class="fal fa-image"></i>
                                            Images
                                        </p>
                                    </div>
                                    <div class="time text-muted small">12 min</div>

                                    <div class="unread-message">

                                        <span class="badge badge-soft-danger rounded-pill mt-3">02</span>
                                    </div>

                                </div>

                                <!-- No avatar -->
                                <div class="friend-drawer friend-drawer--onhover">
                                    <div class="avatar-xs">
                                        <span class="avatar-title rounded-circle bg-soft-primary text-primary">
                                            V
                                        </span>
                                    </div>
                                    <div class="text flex-1 overflow-hidden">
                                        <h5 class="text-truncate fw-bold text-white fs-14 titlecom-1 me-3">Trung
                                            Vinh
                                        </h5>
                                        <p class="txt-mess pt-2 mb-0 text-truncate fst-normal">Nice to meet you 😍
                                        </p>
                                    </div>
                                    <div class="text-muted small">05 min</div>
                                </div>
                                <!-- No avatar -->
                                <div class="friend-drawer friend-drawer--onhover">
                                    <div class="avatar-xs">
                                        <span class="avatar-title rounded-circle bg-soft-primary text-primary">
                                            V
                                        </span>
                                    </div>
                                    <div class="text flex-1 overflow-hidden">
                                        <h5 class="text-truncate fw-bold text-white fs-14 titlecom-1 me-3">Trung
                                            Vinh
                                        </h5>
                                        <p class="txt-mess pt-2 mb-0 text-truncate fst-normal">Nice to meet you 😍
                                        </p>
                                    </div>
                                    <div class="text-muted small">05 min</div>
                                </div>
                                <!-- No avatar -->
                                <div class="friend-drawer friend-drawer--onhover">
                                    <div class="avatar-xs">
                                        <span class="avatar-title rounded-circle bg-soft-primary text-primary">
                                            V
                                        </span>
                                    </div>
                                    <div class="text flex-1 overflow-hidden">
                                        <h5 class="text-truncate fw-bold text-white fs-14 titlecom-1 me-3">Trung
                                            Vinh
                                        </h5>
                                        <p class="txt-mess pt-2 mb-0 text-truncate fst-normal">Nice to meet you 😍
                                        </p>
                                    </div>
                                    <div class="text-muted small">05 min</div>
                                </div>

                                <hr>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane">
                <h2>Groups</h2>

            </div>
            <div class="tab-pane">
                <h2>Contacts</h2>

            </div>
            <div class="tab-pane">
                <h2>Setting</h2>

            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>


<!-- Modal-->
<div class="modal fade" id="modal-detail-about" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="margin-top: -60px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-uppercase fs-14" id="exampleModalLabel">Infomation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="padding: 0 14px;">
                <form action="updateProfile" method="POST" enctype='multipart/form-data'>
                    <div class="container shadow">
                        <div class="row">
                            <div class="col-12 p-0">
                                <div>
                                    <img src="https://cover-talk.zadn.vn/2/c/8/7/3/1b000c3d1edecee9e0fd6c2ceca6616c.jpg"
                                        alt="Avatar-logo" style=" position: relative;
                                        top: 0px;
                                        left: 0px;
                                        width: 498px;
                                        height: 180px;
                                        object-fit: cover;
                                        min-width: 100%
                                        ">
                                    <div class="rel" style="text-align: center; margin: -47px 0px 0px;">
                                        <img src="images/{{user.avatar}}" style="border-radius: 50%; width: 80px; height: 80px; object-fit: cover;
                                            cursor: pointer; position: relative" id="avatar">

                                    </div>
                                </div>
                                <div class="position-absolute avatar-camera cursor-point">
                                    <label for="choose-image">
                                        <i class="far fa-camera-alt">
                                        </i>
                                    </label>
                                    <input type="file" accept="image/*" onchange="preview_image(event)"
                                        id="choose-image" class="input-hidden" name="avatar">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 p-0" id="editor-name">

                            <div id="editor-name-parent">
                                <h2 class="text-center border-bottom mb-0 p-4 txt-name-default">
                                    <span> {{user.userName}}</span><i
                                        class="fal fa-edit fs-14 ms-4 cursor-point edit"></i>
                                </h2>

                            </div>

                        </div>

                        <div class="col-12 border-end border-bottom border-start p-5">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-3 fs-14">
                                        <label for="" class="pb-2">Phone registered</label>
                                        <input type="text" class="form-control fs-14 no-drop" id="phone"
                                            placeholder="{{user.local.phone}}" readonly />
                                    </div>
                                </div>
                                <label for="" class="pb-2 fs-14">Birthday</label>
                                <div class="col-3">
                                    <select class="form-select mb-3 fs-14" id="ddlNgay">
                                    </select>
                                </div>
                                <div class="col-3">
                                    <select class="form-select mb-3 fs-14" id="ddlThang" onchange="loadDay()">
                                    </select>
                                </div>
                                <div class="col-3">
                                    <select class="form-select mb-3 fs-14" id="ddlNam" onchange="loadDay()">
                                    </select>
                                    <input type="hidden" class="form-control fs-14" id="birthday" name="birthday"
                                        value="{{user.birthday}}" onchange="loadBirthday()" />

                                </div>
                                <div class="col-md-12">
                                    <input type="hidden" name="id" value="{{user._id}}">
                                    <input type="hidden" id="gender" value="{{user.gender}}">
                                    <div class="col-12 fs-14">
                                        <div>
                                            <label for="" class="pb-2">Gender</label>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="radio1" name="gender"
                                                    class="custom-control-input" value="male">
                                                <label class="custom-control-label" for="radio1">Male</label>

                                                <input type="radio" id="radio2" name="gender"
                                                    class="custom-control-input" value="female">
                                                <label class="custom-control-label" for="radio2">Female</label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>

                        <div class="col-md-12">
                            <div class="modal-footer d-block">
                                <button type="submit" class="btn btn-danger form-control form-control-sm fs-14
                                                                        text-white text-uppercase"
                                    onclick="loadBirthday()">Save</button>
                            </div>
                        </div>
                </form>
            </div>
        </div>

    </div>
</div>

</div>
</div>
</div>