<div class="app">
    <div class="nav-tab-left">
        <!-- Tab items -->
        <div class="tabs">
            <div class="tab-item-logo alway-active">
                <a href="#">
                    <img src="https://themesbrand.com/chatvia/layouts/assets/images/logo.svg" width=30 alt="">
                </a>
            </div>
            <div title="Profile" class="tab-item active" data-bs-toggle="tooltip" data-bs-placement="top" title=""
                data-bs-original-title="Profile">
                <i class="fal fa-user-alt"></i>
            </div>
            <div class="tab-item" title="Chats">
                <i class="fal fa-comment-alt-dots"></i>
            </div>
            <div class="tab-item" title="Groups">
                <i class="fal fa-users"></i>
            </div>
            <div class="tab-item" title="Contacts">
                <i class="fal fa-address-book"></i>
            </div>
            <div class="tab-item" title="Setting" style="margin-top: 170px">
                <i class="far fa-cog"></i>
            </div>
            <!-- <div class="line"></div> -->
            <div class="tab-item-logo alway-active border-top btn-group dropup">
                <div class="dropdown-toggle cursor-point" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="circle-border" src="
                            https://themesbrand.com/chatvia/layouts/assets/images/users/avatar-1.jpg" width=30 alt="">
                </div>
                <ul class="dropdown-menu fs-14 bg-menu">
                    <li><a class="dropdown-item" href="#">
                            <div class="d-flex justify-content-between position-relative ">
                                <div>Profile</div>
                                <div class="center-icon"><i class="fal fa-id-card"></i></div>

                            </div>
                        </a></li>
                    <li><a class="dropdown-item" href="#">
                            <div class="d-flex justify-content-between position-relative ">
                                <div>Setting</div>
                                <div class="center-icon"><i class="fal fa-cog"></i></div>

                            </div>

                        </a></li>
                    <li><a class="dropdown-item" href="#">
                            <div class="d-flex justify-content-between position-relative ">
                                <div>Logout</div>
                                <div class="center-icon"><i class="fal fa-sign-out-alt"></i></div>
                            </div>
                        </a></li>
                </ul>
            </div>
        </div>

    </div>
    <!-- Tab content -->
    <div class="nav-tab-content">
        <div class="tab-content bg-content">
            <!-- PROFILE -->
            <div class="tab-pane active">
                <div class="d-flex justify-content-between pb-2">
                    <h2>My Profile</h2>
                    <div class="btn-group dropup">
                        <i class="fal fa-ellipsis-v pt-1 fs-24 dropdown-toggle cursor-point" data-bs-toggle="dropdown"
                            aria-expanded="false"></i>
                        <ul class="dropdown-menu fs-14 bg-menu">
                            <li><a class="dropdown-item" href="#">
                                    <div class="d-flex justify-content-between position-relative ">
                                        <div>Edit</div>
                                        <div class="center-icon"><i class="fal fa-id-card"></i></div>

                                    </div>
                                </a></li>
                            <li><a class="dropdown-item" href="#">
                                    <div class="d-flex justify-content-between position-relative ">
                                        <div>Setting</div>
                                        <div class="center-icon"><i class="fal fa-cog"></i></div>

                                    </div>

                                </a></li>
                            <li><a class="dropdown-item" href="login-register/logout">

                                    <div class="d-flex justify-content-between position-relative ">
                                        <div>Logout</div>
                                        <div class="center-icon"><i class="fal fa-sign-out-alt"></i></div>
                                    </div>
                                </a></li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex justify-content-center py-4 cursor-point">
                    <img id="myImg"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvt9gkbw9U83JgPIVQO8Guc3Txsm9A-XwV5Q&usqp=CAU"
                        class="avatar-lg circle-border">
                </div>
                <h3 class="text-center">{{user.userName}}</h3>
                <div class="text-center position-relative">
                    <p class="fs-14 text-truncate text-muted"><i
                            class="ri-record-circle-fill fs-12 text-success d-inline-block position-absolute"></i>Active
                    </p>
                </div>
                <div class="nav-tab-info-profile border-top py-3">
                    <div>
                        <p class="fs-14">
                            If several languages coalesce, the grammar of the resulting language is more simple and
                            regular than that of the individual.
                        </p>
                    </div>
                    <div class="nav-tab-about-profile ">
                        <div class="card text-white bg-dark mb-3" style="max-width: 100%; padding: 0 14px;">
                            <div class="card-header fs-14 text-center py-4 card-header-click"
                                style="background-color: #36404a;">
                                <div class="d-flex justify-content-between cursor-point">
                                    <div class="d-flex align-content-center justify-content-center">
                                        <i class="fal fa-user" style="line-height: 21px;"></i>
                                        <span>&nbsp;&nbsp;&nbsp;About</span>
                                    </div>
                                    <i class="fal fa-angle-down" style="line-height: 21px;"></i>
                                </div>
                            </div>
                            <div class="card-body card-body-click card-body-scroll" style="overflow-y: scroll;">

                                <div class="card-body-name fs-14">
                                    <span class="text-muted">Phone registered</span>
                                    <br>
                                    <span class="text-white">0987789789</span>
                                </div>
                                <div class="card-body-name fs-14">
                                    <span class="text-muted">Name</span>
                                    <br>
                                    <span class="text-white">Nguyen Thanh Liem</span>
                                </div>
                                <div class="card-body-name fs-14">
                                    <span class="text-muted">Email</span>
                                    <br>
                                    <span class="text-white">hello.thanhliem@zalo.com</span>
                                </div>
                                <div class="card-body-name fs-14">
                                    <span class="text-muted">Address</span>
                                    <br>
                                    <span class="text-white txt-trunscate">Quan 8, HCM</span>
                                </div>
                                <div class="card-body-name fs-14 text-center cursor-point fw-bold my-3">
                                    <span class="text-warning show-modal text-uppercase" data-bs-toggle="modal"
                                        data-bs-target="#modal-detail-about"
                                        onclick="loadYear(); loadMonth(); loadDay()">Edit Information</span>
                                    <br>
                                </div>
                            </div>
                        </div>

                        <div class=" card text-white bg-dark mb-3" style="max-width: 100%; padding: 0 14px;">
                            <div class="card-header fs-14 text-center py-4 card-header-click-att"
                                style="background-color: #36404a;">
                                <div class="d-flex justify-content-between cursor-point">
                                    <div class="d-flex align-content-center justify-content-center">
                                        <i class="fal fa-paperclip" style="line-height: 21px;"></i>
                                        <span>&nbsp;&nbsp;&nbsp; Attached Files
                                        </span>
                                    </div>
                                    <i class="fal fa-angle-down" style="line-height: 21px;"></i>

                                </div>
                            </div>
                            <div class="card-body card-body-click-att card-body-scroll" style="overflow-y: scroll;">


                                <div class="d-flex align-items-center bg-soft-primary p-6">
                                    <div class="avatar-sm me-3 ms-0">
                                        <div class="avatar-title bg-soft-icon text-primary rounded fs-20 text-white
                                                cursor-point">
                                            <i class="fal fa-file-alt fs-18 text-white"></i>
                                        </div>
                                    </div>

                                    <div class="flex-1 minw-168 ">
                                        <div class="text-start  cursor-point">
                                            <h5 class="font-size-14 mb-1">Admin-A.zip</h5>
                                            <p class="text-muted font-size-13 mb-0">12.5 MB</p>
                                        </div>
                                    </div>
                                    <div class="ms-4 me-0">
                                        <ul class="list-inline list-inline-item mb-0">
                                            <li class="list-inline-item">
                                                <i class="fal fa-download fs-18  cursor-point"></i>
                                            </li>
                                            <li class="list-inline-item">


                                                <i class="fal fa-ellipsis-h fs-18 dropdown-toggle cursor-point"
                                                    data-bs-toggle="dropdown" aria-expanded="false"></i>
                                                <ul class="dropdown-menu fs-14 bg-menu">
                                                    <li><a class="dropdown-item" href="#">
                                                            <div
                                                                class="d-flex justify-content-between position-relative ">
                                                                <div>Save</div>
                                                                <div class="center-icon"><i class="fal fa-id-card"></i>
                                                                </div>

                                                            </div>
                                                        </a></li>
                                                    <li><a class="dropdown-item" href="#">
                                                            <div
                                                                class="d-flex justify-content-between position-relative ">
                                                                <div>Delete</div>
                                                                <div class="center-icon"><i class="fal fa-cog"></i>
                                                                </div>

                                                            </div>

                                                        </a></li>

                                                </ul>
                                            </li>

                                        </ul>
                                    </div>

                                </div>
                                <div class="d-flex align-items-center bg-soft-primary p-6 mt-3">
                                    <div class="avatar-sm me-3 ms-0">
                                        <div class="avatar-title bg-soft-icon  text-primary rounded fs-20 text-white">
                                            <i class="fal fa-file-image fs-18 text-white"></i>
                                        </div>
                                    </div>

                                    <div class="flex-1 minw-168 ">
                                        <div class="text-start">
                                            <h5 class="font-size-14 mb-1">Liem-avatar.jpg</h5>
                                            <p class="text-muted font-size-13 mb-0">3.5 MB</p>
                                        </div>
                                    </div>
                                    <div class="ms-4 me-0">
                                        <ul class="list-inline list-inline-item mb-0">
                                            <li class="list-inline-item">
                                                <i class="fal fa-download fs-18"></i>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fal fa-ellipsis-h fs-18"></i>
                                            </li>

                                        </ul>
                                    </div>

                                </div>
                                <div class="d-flex align-items-center bg-soft-primary p-6 mt-3">
                                    <div class="avatar-sm me-3 ms-0">
                                        <div class="avatar-title bg-soft-icon  text-primary rounded fs-20 text-white">
                                            <i class="fal fa-file-alt fs-18 text-white"></i>
                                        </div>
                                    </div>

                                    <div class="flex-1 minw-168 ">
                                        <div class="text-start">
                                            <h5 class="font-size-14 mb-1">LandingPage.zip</h5>
                                            <p class="text-muted font-size-13 mb-0">167.5 MB</p>
                                        </div>
                                    </div>
                                    <div class="ms-4 me-0">
                                        <ul class="list-inline list-inline-item mb-0">
                                            <li class="list-inline-item">
                                                <i class="fal fa-download fs-18"></i>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fal fa-ellipsis-h fs-18"></i>
                                            </li>

                                        </ul>
                                    </div>

                                </div>




                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="tab-pane">
                <h2>Users</h2>

            </div>
            <div class="tab-pane">
                <h2>Groups</h2>

            </div>
            <div class="tab-pane">
                <h2>Contacts</h2>

            </div>
            <div class="tab-pane">
                <h2>Setting</h2>

            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>


<!-- Modal -->
<div class="modal fade" id="modal-detail-about" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="margin-top: -60px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-uppercase fs-14" id="exampleModalLabel">Infomation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="padding: 0 14px;">
                <div class="container shadow">
                    <div class="row">
                        <div class="col-12 p-0">
                            <div>
                                <img src="https://cover-talk.zadn.vn/2/c/8/7/3/1b000c3d1edecee9e0fd6c2ceca6616c.jpg"
                                    alt="Avatar-logo" style=" position: relative;
                                        top: 0px;
                                        left: 0px;
                                        width: 498px;
                                        height: 180px;
                                        object-fit: cover;
                                        min-width: 100%
                                        ">
                                <div class="rel" style="text-align: center; margin: -47px 0px 0px;"><input type="file"
                                        name="profile-avatar" id="profileAvatarPicker" class="inputfile"
                                        accept=".png, .jpg, .jpeg" style="display: none;"><img
                                        src="https://s120-ava-talk.zadn.vn/0/d/3/0/9/120/1b000c3d1edecee9e0fd6c2ceca6616c.jpg"
                                        style="border-radius: 50%; width: 80px; height: 80px; object-fit: cover;
                                            cursor: pointer; position: relative">
                                    <div class="position-absolute avatar-camera">
                                        <i class="far fa-camera-alt"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 p-0">
                                <h2 class="text-center border-bottom mb-0 p-4">{{user.userName}}<span><i
                                            class="fal fa-edit fs-14 ms-4 cursor-point"></i></span></h2>
                            </div>
                            <div class="row">
                                <form>
                                    <div class="col-12 border-end border-bottom p-5">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="mb-3 fs-14">
                                                    <label for="" class="pb-2">Phone registered</label>
                                                    <input type="text" class="form-control fs-14 no-drop" id="phone"
                                                        name="phone" placeholder="{{user.local.phone}}" readonly />
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <select class="form-select mb-3 fs-14" id="ddlNgay">
                                                </select>
                                            </div>
                                            <div class="col-3">
                                                <select class="form-select mb-3 fs-14" id="ddlThang"
                                                    onchange="loadDay()">
                                                </select>
                                            </div>
                                            <div class="col-3">
                                                <select class="form-select mb-3 fs-14" id="ddlNam" onchange="loadDay()">
                                                </select>
                                                <input type="hidden" class="form-control fs-14" id="birthday"
                                                    value="{{user.birthday}}" />
                                            </div>
                                            <input type="hidden" id="gender" value="{{user.gender}}">
                                            <div class="col-12 fs-14">
                                                <div>
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" id="radio1" name="gender"
                                                            class="custom-control-input">
                                                        <label class="custom-control-label"
                                                            for="customRadio1">Male</label>
                                                    </div>
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" id="radio2" name="gender"
                                                            class="custom-control-input">
                                                        <label class="custom-control-label"
                                                            for="customRadio2">Female</label>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="modal-footer d-block">
                                            <button type="submit" class="btn btn-danger form-control form-control-sm fs-14
                                                text-white text-uppercase">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>